/* Обнуление стилей */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #FAFAFA;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Начало css кода */

body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    color: #5D6268;
    font-family: 'PT Serif', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/** header **/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

header a{
    color: #fff;
}

.header__top{
    background-color: #418E97;
    color: #fff;
}

h1 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.logo{
    margin-right: 10px;
}

.header__container{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header_logo{
    display: flex;
    align-items: center;
    margin-right: 600px;
}

.header__bottom{
    background: #5DB4C0;
    color: #fff;
    padding: 10px 0;
}

.menu__list{
    display: flex;
}

.menu__list li{
    margin-right: 30px;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header__basket{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.header__log-in{
    display: flex;
    align-items: center;
}

.log-in__img{
    margin-right: 10px;
}

.basket__img{
    margin-right: 10px;
}

/* main block */

.main__block{
    background: rgb(251,239,239);
    background: radial-gradient(circle, rgba(236,238,222,1) 0%, rgba(251,239,239,1) 10%, rgba(193,213,236,1) 100%);
    padding-top: 68px;
    padding-bottom: 100px;
}

.main__container{
    display: flex;
    justify-content: center;
}

.central-card{
    background: url('../img/first_scrin/fantastic-blue-sky.jpg') no-repeat center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 65px 140px;
}

.main__collection{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
    text-transform: none;
    letter-spacing: 0.1em;
}

h2{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 135.8%;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}

.main__button{
    margin-top: 24px;
    display: flex;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 200%;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    min-height: 48px;
    letter-spacing: 0.2px;
    border-radius: 10px;
    background-color: #ac83d3;
}

.main__new{
    margin-bottom: 20px;
    text-align: center;
}

.main__text{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}